*{
margin: 0px;
}
img{
    height: 600px;width: 100%;
}
.extra{
background-color: rgb(169, 212, 241);
height:500px;
width:100%
}
.red{
    background-color: aqua;
}
h2{
    margin: 25px;
}
.sort{
    background-color: blue;
min-height: 200px;
    width: 100%;
}
.div{
    background-color: rgb(129, 124, 204);

}
a{ 
    text-decoration: none;
    color: #200404;
}
.middil{
    background-color: #645555;
   min-height: 430px;
    width: 100%;
}
ul{
    list-style: none;
}
.container{
    max-width:1170px;
    margin:auto;
}
.row{
    display: flex;
    flex-wrop:wrap;
}
.footer{
    background-image: url("image/sun.jpg");
    padding: 70px 0px;
}
h4{
    background-color: #242626;
    border-radius: 15px;
}
.footer-col{
    width:25%;
    padding:0 15px;
}
.footer-col h4{
    font-size:18px;
    color:#ffffff;
    text-transform:capitalize;
    margin-bottom:30px;
    font-weight: 500;
}
.footer-col ul li a{
    font-size: 15px;
    color: #f1d4d4;
}
.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;;
background-color: rgba(255,255,255, 0.2);
margin: 10px 10px 0;
text-align: center;
font-size: 30px;
border-radius: 50%;
}
.footer-col .social-links a:hover{
    color:#242626;
    background-color: #ffffff;
}